<h1>Лабораторна робота 1</h1>
<form method="post">
    <label for="inputFile">Вхідний файл:</label>
    <input type="text" id="inputFile" name="input" />
    <label for="outputFile">Вихідний файл:</label>
    <input type="text" id="outputFile" name="output" />
    <button type="submit">Запустити</button>
</form>
